body .div
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
}

#navbar
{
    
    overflow: hidden;
    transition: 1s;
    z-index: 99;
    background:rgba(0,0,0,.7)!important;
    width: 100%!important;
    margin: 0px;
    
}
.Brand
{
    
    color:#03e9f4!important;
    text-shadow:0 0 20px #03e9f4;
    transition: 1s;
    
    
}
#nav-link
{
    color:#03e9f4!important;
}
#nav-link:hover
{
    color:#03e9f4;
}

#abc
{
    color: white;
    display: block;
    padding-bottom: 10px;
    padding-top: 5px;
    cursor: pointer;
}
.active {
    border-bottom: 2px solid #ff0;
}

#abc:hover{
    color:#03e9f4!important;
    text-shadow:0 0px 10px  #03e9f4;
    
    

}