
body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding:0px;
    overflow-x: hidden!important;
    box-sizing: border-box;
}

div{
    
    overflow-x: hidden!important;
    box-sizing: border-box;
   
}

.poster-image
{
  width: 100%;
  background-color:black!important;
  height: 700px!important;
  object-fit: contain!important;
 letter-spacing: 8px;
 box-sizing: border-box;
 padding: 0px;

  }
  .poster-image:hover
  {
    animation: text 4s ease;
  }
.poster
{
  width: 100%;
  height:700px;
  position: absolute!important;
}
.card-title {
  margin-bottom: -9.25rem!important;
  line-height: 150%!important;
}
.link-color *
{
  color:black!important;
  line-height: 150%!important;
}
#first-div-head
{
  color : white!important;
  margin-top: 250px;
  z-index: 10;
  
}
#links
{
  font-size: 21px;
  color:#03e9f4!important;
  text-shadow:0 0px 10px  #03e9f4;
 
}
#social-link
{
  width: 100%;
  overflow: hidden;
  white-space: pre;
  display: inline-block;
  flex-direction: row;
}



.container:hover .card-img  {
  opacity: 0.5;
  transition: 1s ease;
  
}

.container span
{ 
  text-transform: uppercase;
  display: block;
  margin-left: 55px;
  font-size: 20px;
  text-align: center!important;
 
  
}

#first-div .text
{
   text-align: center;
   font-size: 25px;
   font-weight: 500;
   width: 100%;
}
#first-div:hover
{
    letter-spacing: 8px;
    margin-bottom: 10px;
    animation: text 3s ease;
    width: 100%;
}



@keyframes text{
  0%{
        letter-spacing: 20px;     
        transition: 5s ease;   
  }
  20%
  {
    letter-spacing: 40;
  }
  40%
  {
     letter-spacing: 0px;   
  }
  80%
  {
    letter-spacing: 20px;
    
  }
  100%
  {
    letter-spacing: 8px;
  }
}



.aboutme
{
  position: relative;
  background-color: gray;
  height: 100%;
  margin: -74px auto 0;
  
}


.img-wrap img{
  width: 20%;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  box-shadow: 0 0 10px #03e9f4;
  padding: 10px;
  

}
 

.aboutme-para
{
  
  font-size: 20px;
  line-height: 30px;
}
.skillset
{
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  margin:0px auto 0;
  
}
.skillset p
{
  color:white;
}
.progress-bar
{
  background-color:#03e9f4!important;
  
}
.experiences
{
  height:100%;
}


/*second div css*/
.pro-div
{
  height: 100%;
  
}
.sec-div
{
    
    width: 100%;
    margin: -9px auto 0;
    background-color:#ff0;
    display: block;
}
.sec-div .box-div
{
    position: relative;
    width: 100%;
    height: 70%px;
    display: block;
}
.sec-div .box-div .imgbox-div
{
    position: relative;
    overflow: hidden;
    width: 100%;
    
}

.sec-div .box-div .imgbox-div img
{
    width:100%;
    height: 650px;
    display: block;
    transition: transform 4s ease;
    object-fit: fill;
    z-index: 2;

    
    
}
.text-div .text-span
{
  position: absolute;
  color: white;
  align-items: center;
  margin: 50px 0px 0px;
  font-size: 50px;
  display: block;
  z-index: 10;
  opacity: 1;
  transition: 1.5s ease;
}
.text-div:hover
{
  display: none;
}
.sec-div .box-div:hover .imgbox img
{
    transform:scale(1.2)
}
.sec-div .box-div:hover .text-div .text-span
{
  opacity: 0;
}
.sec-div .box-div .detail-div
{
    position: absolute;
    top:10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    color: white;
    background: rgba(0,0,0,.8);
    font-size: 20px;
    transform: scaleY(0);
    transition: transform 1s;
}
.sec-div .box-div:hover .detail-div
{
    transform: scaleY(1);
}
.button
{
  background-color: transparent;
  border-color: #03e9f4;
  color: white;
  width: 150px;
  padding: 10px 10px 10px 10px;
  border-radius: 50px 50px 50px 50px;
  transition: 1.5s ease;
}
.button:hover
{
  background-color: #03e9f4;
  box-shadow: 0 0 10px #03e9f4;
  color: black;
  font-weight: 50px;
  border-color: black;
}
.resume
{
  background-color: #262626;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px auto 0;
 

}
.resume h2
{
  color: rgb(22, 22, 22);
  align-items: center;
}
#button
{
  margin-top: 200px!important;
  
}
.contactme
{
  background-color:#54626f;
}
.contactme .emailid
{
  width: 100%;
}


